# Decision Tree

Decision trees can be constructed by an algorithmic approach that can split the dataset in different ways based on different conditions. Decisions tress are the most powerful algorithms that falls under the category of supervised algorithms.
They can be used for both classification and regression tasks. The two main entities of a tree are decision nodes, where the data is split and leaves, where we got outcome.

In [11]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [2]:
inputs = df.drop('salary_more_then_100k',axis='columns')
target = df['salary_more_then_100k']
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()
# all this for removing string columns

In [12]:
inputs['company_n'] = le_company.fit_transform(inputs['company']) 
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])
inputs

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

In [14]:
inputs_n = inputs.drop(['company','job','degree'],axis='columns')
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [16]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(inputs_n,target)

DecisionTreeClassifier()

**Gini Index**: 
It is the name of the cost function that is used to evaluate the binary splits in the dataset and works with the categorial target variable “Success” or “Failure”.

In [17]:
model.score(inputs_n,target)

1.0

In [19]:
model.predict([[2,2,1]])

/home/abhishek/.local/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [20]:
model.predict([[2,0,1]])

/home/abhishek/.local/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])

# another implementation

In [21]:
import numpy as np
import pandas as pd

In [22]:
data = pd.read_csv("airfoil_noise_data.csv")
data

        x0    x1      x2    x3        x4        y
0      800   0.0  0.3048  71.3  0.002663  126.201
1     1000   0.0  0.3048  71.3  0.002663  125.201
2     1250   0.0  0.3048  71.3  0.002663  125.951
3     1600   0.0  0.3048  71.3  0.002663  127.591
4     2000   0.0  0.3048  71.3  0.002663  127.461
...    ...   ...     ...   ...       ...      ...
1498  2500  15.6  0.1016  39.6  0.052849  110.264
1499  3150  15.6  0.1016  39.6  0.052849  109.254
1500  4000  15.6  0.1016  39.6  0.052849  106.604
1501  5000  15.6  0.1016  39.6  0.052849  106.224
1502  6300  15.6  0.1016  39.6  0.052849  104.204

[1503 rows x 6 columns]

## Node Class

In [44]:
# two nodes --> lead nodes and decision nodes
class Node():
    def __init__(self,feature_index=None,threshold=None,left=None,right=None,info_gain=None,value=None):
        self.feature_index = feature_index
        self.left = left
        self.right = right
     
        self.value = value
        self.threshold = threshold
        self.info_gain = info_gain

# Tree Class

In [45]:
class DecisionTreeClassifier():
    def __init__(self, min_samples_split=2, max_depth=2):
        ''' constructor '''
        
        # initialize the root of the tree 
        self.root = None
        
        # stopping conditions
        self.min_samples_split = min_samples_split
        self.max_depth = max_depth
        
    def build_tree(self, dataset, curr_depth=0):
        ''' recursive function to build the tree ''' 
        
        X, Y = dataset[:,:-1], dataset[:,-1]
        num_samples, num_features = np.shape(X)
        
        # split until stopping conditions are met
        if num_samples>=self.min_samples_split and curr_depth<=self.max_depth:
            # find the best split
            best_split = self.get_best_split(dataset, num_samples, num_features)
            # check if information gain is positive
            if best_split["info_gain"]>0:
                # recur left
                left_subtree = self.build_tree(best_split["dataset_left"], curr_depth+1)
                # recur right
                right_subtree = self.build_tree(best_split["dataset_right"], curr_depth+1)
                # return decision node
                return Node(best_split["feature_index"], best_split["threshold"], 
                            left_subtree, right_subtree, best_split["info_gain"])
        
        # compute leaf node
        leaf_value = self.calculate_leaf_value(Y)
        # return leaf node
        return Node(value=leaf_value)
    
    def get_best_split(self, dataset, num_samples, num_features):
        ''' function to find the best split '''
        
        # dictionary to store the best split
        best_split = {}
        max_info_gain = -float("inf")
        
        # loop over all the features
        for feature_index in range(num_features):
            feature_values = dataset[:, feature_index]
            possible_thresholds = np.unique(feature_values)
            # loop over all the feature values present in the data
            for threshold in possible_thresholds:
                # get current split
                dataset_left, dataset_right = self.split(dataset, feature_index, threshold)
                # check if childs are not null
                if len(dataset_left)>0 and len(dataset_right)>0:
                    y, left_y, right_y = dataset[:, -1], dataset_left[:, -1], dataset_right[:, -1]
                    # compute information gain
                    curr_info_gain = self.information_gain(y, left_y, right_y, "gini")
                    # update the best split if needed
                    if curr_info_gain>max_info_gain:
                        best_split["feature_index"] = feature_index
                        best_split["threshold"] = threshold
                        best_split["dataset_left"] = dataset_left
                        best_split["dataset_right"] = dataset_right
                        best_split["info_gain"] = curr_info_gain
                        max_info_gain = curr_info_gain
                        
        # return best split
        return best_split
    def split(self, dataset, feature_index, threshold):
        ''' function to split the data '''
        
        dataset_left = np.array([row for row in dataset if row[feature_index]<=threshold])
        dataset_right = np.array([row for row in dataset if row[feature_index]>threshold])
        return dataset_left, dataset_right
    
    def information_gain(self, parent, l_child, r_child, mode="entropy"):
        ''' function to compute information gain '''
        
        weight_l = len(l_child) / len(parent)
        weight_r = len(r_child) / len(parent)
        if mode=="gini":
            gain = self.gini_index(parent) - (weight_l*self.gini_index(l_child) + weight_r*self.gini_index(r_child))
        else:
            gain = self.entropy(parent) - (weight_l*self.entropy(l_child) + weight_r*self.entropy(r_child))
        return gain
    
    def entropy(self, y):
        ''' function to compute entropy '''
        
        class_labels = np.unique(y)
        entropy = 0
        for cls in class_labels:
            p_cls = len(y[y == cls]) / len(y)
            entropy += -p_cls * np.log2(p_cls)
        return entropy
    
    def gini_index(self, y):
        ''' function to compute gini index '''
        
        class_labels = np.unique(y)
        gini = 0
        for cls in class_labels:
            p_cls = len(y[y == cls]) / len(y)
            gini += p_cls**2
        return 1 - gini
        
    def calculate_leaf_value(self, Y):
        ''' function to compute leaf node '''
        
        Y = list(Y)
        return max(Y, key=Y.count)
    
    def print_tree(self, tree=None, indent=" "):
        ''' function to print the tree '''
        
        if not tree:
            tree = self.root

        if tree.value is not None:
            print(tree.value)

        else:
            print("X_"+str(tree.feature_index), "<=", tree.threshold, "?", tree.info_gain)
            print("%sleft:" % (indent), end="")
            self.print_tree(tree.left, indent + indent)
            print("%sright:" % (indent), end="")
            self.print_tree(tree.right, indent + indent)
    
    def fit(self, X, Y):
        ''' function to train the tree '''
        dataset = np.concatenate((X, Y), axis=1)
        self.root = self.build_tree(dataset)
    
    def predict(self, X):
        ''' function to predict new dataset '''
        
        preditions = [self.make_prediction(x, self.root) for x in X]
        return preditions
    
    def make_prediction(self, x, tree):
        ''' function to predict a single data point '''
        
        if tree.value!=None: return tree.value
        feature_val = x[tree.feature_index]
        if feature_val<=tree.threshold:
            return self.make_prediction(x, tree.left)
        else:
            return self.make_prediction(x, tree.right)

## Train-Test Split

In [46]:
X = data.iloc[:, :-1].values
Y = data.iloc[:, -1].values.reshape(-1,1)
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2, random_state=41)

## Fit the Model

In [47]:
classifier = DecisionTreeClassifier(min_samples_split=3, max_depth=3)
classifier.fit(X_train,Y_train)
classifier.print_tree()

X_4 <= 0.000740478 ? 0.0008703484506025205
 left:X_2 <= 0.0254 ? 0.027437641723356054
  left:X_0 <= 1250.0 ? 0.03125
    left:127.947
    right:X_0 <= 8000.0 ? 0.032258064516129226
        left:136.163
        right:128.977
  right:X_0 <= 2500.0 ? 0.12
    left:X_0 <= 800.0 ? 0.19999999999999984
        left:130.96
        right:131.31
    right:X_0 <= 5000.0 ? 0.31999999999999995
        left:134.43
        right:133.04
 right:X_0 <= 800.0 ? 0.0008850907113900908
  left:X_2 <= 0.0254 ? 0.0026681474630942947
    left:X_3 <= 39.6 ? 0.015431476628815832
        left:120.766
        right:115.461
    right:X_3 <= 55.5 ? 0.0031836811564582845
        left:127.315
        right:126.805
  right:X_2 <= 0.1524 ? 0.0013201722975287877
    left:X_2 <= 0.1016 ? 0.0019412607290513195
        left:131.346
        right:119.737
    right:X_4 <= 0.0027238 ? 0.004363479307797458
        left:126.54
        right:126.838

## Test the model

In [54]:
Y_pred = classifier.predict(X_test) 
# from sklearn.metrics import accuracy_score
# accuracy_score(Y_test, Y_pred)
Y_pred

[131.346,
 131.346,
 120.766,
 119.737,
 120.766,
 119.737,
 131.346,
 115.461,
 126.805,
 119.737,
 131.346,
 126.838,
 126.838,
 119.737,
 131.346,
 119.737,
 128.977,
 115.461,
 131.346,
 131.346,
 119.737,
 126.838,
 131.346,
 127.315,
 127.315,
 131.31,
 126.838,
 127.315,
 119.737,
 131.346,
 127.315,
 131.346,
 131.346,
 115.461,
 131.346,
 119.737,
 119.737,
 127.315,
 126.838,
 119.737,
 126.838,
 136.163,
 131.346,
 127.315,
 131.346,
 126.805,
 119.737,
 119.737,
 127.315,
 115.461,
 127.315,
 126.838,
 131.346,
 127.315,
 126.838,
 126.54,
 127.315,
 131.346,
 131.346,
 131.346,
 127.315,
 127.315,
 126.838,
 126.805,
 131.346,
 119.737,
 136.163,
 131.346,
 131.346,
 131.346,
 131.346,
 131.346,
 126.838,
 119.737,
 131.346,
 126.805,
 126.838,
 127.315,
 126.805,
 131.346,
 131.346,
 119.737,
 131.346,
 131.346,
 126.54,
 126.838,
 131.346,
 131.346,
 126.838,
 126.54,
 131.346,
 131.346,
 131.346,
 126.838,
 126.838,
 119.737,
 127.315,
 131.346,
 127.315,
 127.315,
 120.766,
 136.163,
 126.838,
 120.766,
 127.315,
 131.346,
 126.838,
 134.43,
 119.737,
 131.346,
 131.346,
 127.315,
 131.346,
 126.838,
 126.54,
 119.737,
 119.737,
 126.54,
 131.346,
 126.838,
 136.163,
 126.805,
 120.766,
 127.315,
 127.315,
 131.346,
 119.737,
 126.838,
 131.346,
 131.346,
 131.346,
 131.346,
 127.315,
 119.737,
 119.737,
 131.346,
 128.977,
 127.315,
 131.346,
 126.54,
 127.315,
 131.346,
 131.346,
 126.838,
 127.315,
 133.04,
 126.805,
 131.346,
 131.346,
 127.315,
 131.346,
 131.346,
 131.346,
 127.315,
 119.737,
 126.838,
 131.346,
 126.838,
 127.315,
 131.346,
 126.838,
 126.805,
 131.346,
 136.163,
 131.346,
 119.737,
 131.346,
 131.346,
 126.805,
 131.346,
 126.838,
 119.737,
 119.737,
 119.737,
 119.737,
 131.346,
 119.737,
 126.838,
 127.315,
 126.838,
 119.737,
 131.346,
 131.346,
 126.805,
 119.737,
 131.346,
 127.315,
 126.838,
 119.737,
 126.838,
 119.737,
 131.346,
 136.163,
 136.163,
 131.346,
 126.838,
 119.737,
 127.315,
 127.315,
 127.315,
 119.737,
 131.346,
 131.346,
 119.737,
 126.54,
 131.346,
 126.805,
 131.346,
 131.346,
 115.461,
 131.346,
 136.163,
 119.737,
 126.838,
 131.346,
 126.838,
 127.315,
 131.346,
 131.346,
 127.315,
 127.315,
 127.315,
 127.315,
 131.346,
 131.346,
 126.838,
 126.805,
 131.346,
 131.346,
 120.766,
 131.346,
 119.737,
 131.346,
 126.838,
 126.838,
 126.838,
 131.346,
 127.315,
 127.315,
 126.805,
 119.737,
 119.737,
 126.838,
 127.947,
 126.838,
 126.805,
 126.838,
 127.315,
 126.838,
 119.737,
 119.737,
 131.346,
 136.163,
 127.315,
 119.737,
 127.315,
 131.346,
 127.315,
 131.346,
 131.346,
 126.805,
 126.838,
 131.346,
 127.315,
 127.315,
 119.737,
 131.346,
 126.838,
 119.737,
 127.315,
 127.315,
 126.838,
 131.346,
 131.346,
 126.838,
 136.163,
 115.461,
 126.838,
 131.346,
 131.346,
 131.346,
 131.346,
 126.838,
 127.315,
 131.346,
 131.346,
 127.315,
 131.346,
 131.346,
 131.346,
 126.838,
 126.838,
 126.838,
 126.838,
 126.838,
 131.346,
 127.315,
 119.737,
 131.346,
 126.54,
 126.838]